.section_footer{
  .social_icons{
    margin: 0 auto 10px auto;
    width: fit-content;
    font-size: 24px;
    :nth-child(2) {
      margin: 0 20px 0.5em 20px;
    }
    a{
      &:link,
      &:active,
      &:visited{
        color: #000000;
      }
      &:hover{
        opacity: 0.5;
      }
    }
  }
}
// --------------------------------

// Back To Top - by CodyHouse.co

// --------------------------------

:root {
  // colors

  // back-to-top
  --cd-back-to-top-size: 40px;
  --cd-back-to-top-margin: 20px;

  // font
  --font-primary: 'Bitter', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}

.cd-top {
  border-radius: 4px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  background-color: #ffffffab;
  display: inline-flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .3s, background-color .3s;
  &.cd-top--is-visible { // back-to-top button visible
    visibility: visible;
    opacity: 1;
  }
  &.cd-top--fade-out { // reduce button opacity if user keeps scrolling
    opacity: .5;
  }
  &.cd-top:hover {
    background-color: #000000ab;
    opacity: 1;
  }
  a:link{
    i{
      color:#000000;
    }
  }
}
