header {
      color: #fff;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('https://picsum.photos/id/1019/480/600');
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      @media(min-width: 768px) {
        background-image: url('https://picsum.photos/id/1019/1280/768');
      }
      p{
            width: 100%;
            max-width: 700px;
      }
      .button{
        &--outlined{
             border: 1px solid #fff;
             color:#ffffff;
        }
        &:active,
        &:focus,
        &:hover{
            opacity: 1;
            color:#000000;
            background-color:#ffffff;
       }
      }
}


.anchor_lander{
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  position: absolute;
  margin-top: -55px;
}
@media(min-width: 768px) {
  .anchor_lander{
    margin-top: -50px;
  }
}

.img-responsive{
  width: 100%;
}
