html {
  scroll-behavior: smooth;
}

body{
      &.display_nav_mobile{
            overflow: hidden;
            nav {
                  background-color: #000;
                  .menu-icon {
                        color: #fff;
                        background-color: #000;
                        div.ham_icon {
                          width: 30px;
                          height: 2px;
                          background-color: #ffffff;
                          margin: 3px 0;
                          display: block;
                          clear: both;
                          float: right;
                        }
                  }
                  .logo{
                        img:first-child{
                              opacity: 1;
                        }
                        img:nth-child(2){
                              opacity: 0;
                        }
                  }
                  .menu{
                        ul{
                              li{
                                  a {
                                          color: #fff;
                                    }
                              }
                        }
                  }
            }
      }
}

nav {
      position: fixed;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.5s;
      z-index: 1;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      .menu-icon {
            width: 100%;
            text-align: right;
            box-sizing: border-box;
            padding: 10px 20px;
            cursor: pointer;
            background: rgba(0, 0, 0, 0);
            color: #fff;
            display: block;
            div.ham_icon {
              width: 30px;
              height: 2px;
              background-color: #ffffff;
              margin: 3px 0;
              display: block;
              clear: both;
              float: right;
            }
      }
      .logo {
            width: fit-content;
            height: fit-content;
            min-width: 100px;
            min-height: 30px;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            position: fixed;
            top:10px;
            left: 20px;
            img{
                  position: absolute;
                  transition: 0.5s;
                  opacity: 1;
                  display: block;
                  width: 100%;
                  max-width: 130px;
                  @media(min-width: 768px) {
                    max-width: 150px;
                  }
            }
            img:first-child{
                  opacity: 1;
            }
            img:nth-child(2){
                  opacity: 0;
            }
      }
      .menu{
            width: 100%;
            
            ul {
                  background: #000;
                  line-height: 40px;
                  list-style: none;
                  overflow: hidden;
                  color: #fff;
                  padding: 0;
                  text-align: right;
                  margin: 0;
                  padding: 0px;
                  transition: 0.25s;
                  height: 0;
                  width: 100%;
                  display:flex;
                  flex-direction: column;
                   justify-content: center;
                   align-items: center;
                  &.display_nav_mobile {
                        height: calc(100vh - 45px);
                  }
                  li {
                        box-sizing: border-box;
                        text-align: center;
                        display: block;
                        padding: 0px;
                        width: 100%;
                        &:nth-last-child(3),
                        &:nth-last-child(2),
                        &:last-child {
                              width: fit-content;
                              display: inline-block;
                        }
                        a {
                              text-decoration: none;
                              color: #fff;
                              text-transform:uppercase;
                              font-size: 10px;
                              letter-spacing:2px;
                              .fa{
                                font-size: 24px;
                                line-height: 40px;
                              }
                        }
                  }
            }
      }

      &.nav_white {
            background: #fff;
            border-bottom: 1px solid $c-gray-light;
            .menu-icon {
              div.ham_icon {
                background-color: #000;
              }
            }
            .logo{
                  img:first-child{
                        opacity: 0;
                  }
                  img:nth-child(2){
                        opacity: 1;
                  }
            }
            .menu{
                  ul{

                        li{
                              a{
                                    color: #000;
                              }
                        }
                  }
            }
      }
}




@media(min-width: 768px) {
      nav {
            flex-direction: row;
            justify-content: space-between;
            .menu-icon {
                  display: none;
            }
            .logo{
                  margin: 0 0 0 40px;
                  position: unset;
            }
            .menu{
                  width: fit-content;
                  ul {
                        flex-direction: row;
                        background: rgba(0, 0, 0, 0);
                        line-height: 40px;
                        height: fit-content;
                        padding-right: 40px;
                        li {
                              display: inline-block;
                              box-sizing: border-box;
                              width: fit-content;
                              padding: 0px 10px;
                              a {
                                    .fa{
                                      font-size: 16px;
                                      line-height: 40px;
                                    }
                              }
                        }
                  }
            }
      }
}
