.section_gallery{
  .section_carousel{
    padding-left: 0;
    padding-right: 0;
  }
  .image_grid{
    .col{
      > a:first-child{
          background-color: #000000;
          display: flex;
          margin-bottom: 10px;
      }
    }
    a{
      img{
        transition: opacity .3s;
        width: 100%;
      }
      &:hover{
        img{
          opacity: .5;
        }
      }
    }
  }
}
